* {
    font-family: arial, helvatica, sans-serif;
    font-size: 17px;
}

body {
    background: rgb(114, 35, 187);
}

h1{
    font-size: 2em;
    color: black;
}
h2{
    font-size: 1.5em;
    color: black;
}

img.lado{
    float: right;;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
main {
    background-color: white;
    width: 500px;
    margin:auto;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
